<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="search-input">key word</label>

            <input type="text" name="q" class="form-control" id="search-input" placeholder="key word">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>